<!-- FOOTER -->
<footer class="footer">
  <div class="container">
      <div class="row">
      <div class="col-sm-4">
        <h5>About Hearing Vietnam</h4>
        <p><a href="#">Contact Us</a></p>
        <p><a href="#">Club Schedule</a></p>
      </div>
      <div class="col-sm-4">
        <h5>Latest Updates</h4>
        <p><a href="https://github.com/hearingvietnam/"><span class="fa fa-github"></span> Github</a></p>
        <p><a href="https://www.youtube.com/channel/UC6R-M176ABQCGJrBqiWFzow"><span class="fa fa-youtube"></span> Youtube</a></p>
        <p><a href="https://www.facebook.com/hearingvietnam/"><span class="fa fa-facebook"></span> &nbsp;Facebook</a></p>
      </div>
      <div class="col-sm-4">
        <h5>Becoming a Sponsor</h4>
        <p>If you are passionate about helping deaf children then Hearing Vietnam wants to hear from you :)</p>
        <p><a class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Hooray!" href="https://goo.gl/943IWE" 
              role="button">
          I want to become a sponsor! &raquo;
        </a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p><small>Handcrafted with ❤ by 
          <a href="http://chiayolin.org/ngogo/">chiayolin.org&trade;</a> and Hearing Vietnam <b>&nbsp;&middot;&nbsp;</b> 
          <a href="https://raw.githubusercontent.com/HearingVietnam/site/master/LICENSE">Legal Notices</a>
        </small></p>
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-2">
        <p class="pull-right"><a href="#">Back to top</a></p>
      </div>
    </div>
  </div>
</footer>