<!-- FOOTER -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p><small>Handcrafted with ❤  by 
          <a href="http://chiayolin.org/ngogo/">chiayolin.org&trade;</a> and Hearing Vietnam <b>&nbsp;&middot;&nbsp;</b> 
          <a href="https://raw.githubusercontent.com/hEARingVietnam/hearingvietnam.github.io/master/LICENSE">Legal Notices</a>
        </small></p>
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-2">
        <p class="pull-right"><a href="#">Back to top</a></p>
      </div>
    </div>
  </div>
</footer>