<div class="navbar-wrapper">
  <nav id="opaque-navbar" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#_navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
        <a class="navbar-brand" href="/">
          <img id="navbar-logo" style="width:auto; height: 72px; margin-top: -29px;" src="/assets/icons/logo.png">
          <span id="navbar-title">Hearing Vietnam</span>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="_navbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-sunglasses"></span> Who We Are</a></li>
          <li><a href="/what-we-do/"><span class="glyphicon glyphicon-fire"></span> What We Do</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-thumbs-up"></span> Get Involved</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <span class="glyphicon glyphicon-globe"></span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">
                  <span class="icon-flags size-normal united-kingdom"></span>&nbsp;English
              </a></li>
              <li><a href="#">
                  <span class="icon-flags size-normal vietnam"></span>&nbsp;Tiếng Việt
              </a></li>
              <li><a href="#">
                  <span class="icon-flags size-normal taiwan"></span>&nbsp;正體中文
              </a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
