<div class="feature-clip-wrapper">
  <div class="overlay">
	  <div class="row">
	    <div class="carousel-caption">
	      <div class="text-container" id="feature-clip-caption-1">
	        <h1 class="text-uppercase">Our Mission</h1>
	        <p>Transforming education for hearing impaired</p>
	      </div>
	      <div class="text-container" id="feature-clip-caption-2">
	        <h1 class="text-uppercase">Our Impact</h1>
	        <p>Helping deaf children to achieve their potential</p>
	      </div>
	      <div class="text-container" id="feature-clip-caption-3">
	        <h1 class="text-uppercase" style="font-size: 60pt;">Start giving today</h1>
	        <p>How? Join us!</p>
	      </div>
	     </div>
	   </div>
   </div>
  <div align="center" class="embed-responsive embed-responsive-16by9">
    <video autoplay id="feature-clip" class="embed-responsive-item">
      <source src="assets/clip1.mp4" type="video/mp4" sizes="1" class="active">
      <source src="assets/clip2.mp4" type="video/mp4" sizes="2" class="">
      <source src="assets/clip3.mp4" type="video/mp4" sizes="3" class="">
    </video>
  </div>
</div>
<div class="container-fluid intro-component">
  <div class="row">
    <div class="col-sm-4 who-are-we img-property">
  	  <div class="carousel-caption">
  	    <h2>Who We Are</h2>
        <p>We are an organization dedicated to helping children who are hearing impaired.</p>
        <p><a class="btn btn-default" href="/who-we-are/" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
    <div class="col-sm-4 what-we-do img-property">
  	  <div class="carousel-caption">
  	    <h2>What We Do</h2>
        <p>Our mission is to provide bone conduction earphones to deaf students in Vietnam.</p>
        <p><a class="btn btn-default" href="/what-we-do/" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
    <div class="col-sm-4 get-involved img-property">
  	  <div class="carousel-caption">
  	    <h2>Get Involved</h2>
        <p>Join our cause by participating in our charity and fundraising event.</p>
        <p><a class="btn btn-default" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
  </div>
</div>