<%- page.content %>

<!-- INDEX GENERAL CONTENT -->
<div class="feature-clip-wrapper">
  <div align="center" class="embed-responsive embed-responsive-16by9">
    <video autoplay id="feature-clip" class="embed-responsive-item">
      <source src="assets/clip2.mp4" type="video/mp4" class="active">
      <source src="assets/clip3.mp4" type="video/mp4" class="">
    </video>
  </div>
</div>
<div class="container what-is">
  <div class="row">
    <div class="col-lg-4">
      <img class="img-square" src="/assets/images/arts/who-are-we.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Who Are We</h2>
      <p>We are an organisation dedicated to helping children who are hearing impaired in Southeast Asia.</p>
      <p><a class="btn btn-default" href="./who-are-we.html" role="button">Learn more &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <img class="img-square" src="/assets/images/arts/what-we-do.png" alt="Generic placeholder image" width="140" height="140">
      <h2>What We Do</h2>
      <p>Our mission is to provide bone conduction earphones to deaf students in Southeast Asia.</p>
      <p><a class="btn btn-default" href="#" role="button">Learn more &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <img class="img-square" src="/assets/images/arts/get-involved.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Get Involved</h2>
      <p>Join our cause by participating in our charity and fundraising event.</p>
      <p><a class="btn btn-default" href="https://goo.gl/943IWE" role="button">Learn more &raquo;</a></p>
    </div>
  </div>
</div>
