<div class="feature-clip-wrapper">
  <div class="overlay">
    <div class="carousel-caption">
      <div id="feature-clip-caption-1">
        <h1>Our Mission:</h1>
        <p>Transforming education for the hearing impaired</p>
      </div>
      <div id="feature-clip-caption-2">
        <h1>Our Impact:</h1>
        <p>Helping deaf children to achieve their potential</p>
      </div>
      <div id="feature-clip-caption-3">
        <h1>Start giving today!</h1>
        <p>How? Donate pronto!</p>
      </div>
     </div>
   </div>
  <div align="center" class="embed-responsive embed-responsive-16by9">
    <video autoplay id="feature-clip" class="embed-responsive-item">
      <source src="assets/clip1.mp4" type="video/mp4" sizes="1" class="active">
      <source src="assets/clip2.mp4" type="video/mp4" sizes="2" class="">
      <source src="assets/clip3.mp4" type="video/mp4" sizes="3" class="">
    </video>
  </div>
</div>
<div class="container-fluid intro-component">
  <div class="row">
    <div class="col-sm-4 who-are-we img-property">
  	  <div class="carousel-caption">
  	    <h2>Who Are We</h2>
        <p>We are an organisation dedicated to helping children who are hearing impaired in Southeast Asia.</p>
        <p><a class="btn btn-default" href="./who-are-we.html" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
    <div class="col-sm-4 what-we-do img-property">
  	  <div class="carousel-caption">
  	    <h2>What We Do</h2>
        <p>Our mission is to provide bone conduction earphones to deaf students in Southeast Asia.</p>
        <p><a class="btn btn-default" href="/what-we-do/" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
    <div class="col-sm-4 get-involved img-property">
  	  <div class="carousel-caption">
  	    <h2>Get Involved</h2>
        <p>Join our cause by participating in our charity and fundraising event.</p>
        <p><a class="btn btn-default" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
  </div>
</div>