layout: page
title: Who We Are
-------------
<div class="banner-wrapper">
  <img src="/assets/img/get-involved.jpg">
    <div class="banner-caption carousel-caption">
      <h1>Get Involved</h1>
      <p>Join us or support us!</p>
    </div>
  </div>
<div class="container about-us-container">
	<h1>Contact Us</h1>
	<hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-5">
      <h4>Dear Visitors</h4>
      <p>You can use this form to contact the Hearing Vietnam team.</p>
    </div>
    <div class="col-md-7">
      <form action="https://formspree.io/chiayo.lin@gmail.com" method="POST">
        <input type="hidden" name="_next" value="//site.io/thanks.html" />
        <input type="hidden" name="_cc" value="chiayo.lin@gmail.com" />

        <div class="row">
          <div class="col-lg-6">
            <label>Name</label>
            <input type="text" name="_subject" class="form-control" placeholder="Your name">
          </div>
          <div class="col-lg-6">
            <label>Email</label>
            <input type="email" name="_replyto" class="form-control" placeholder="Your email">
          </div>
        </div>
        <br/>

        <div class="form-group">
          <label>Message</label>
          <textarea class="form-control" name="message" placeholder="Your message"></textarea>
        </div>
        </br>
        
        <input  class="btn btn-primary" type="submit" value="Send">
      </form>
    </div>
  </div>
	<hr class="featurette-divider">
</div>