layout: page
title: Who We Are
-------------
<div class="banner-wrapper">
  <img class="about-us-img-align" src="/assets/img/who-are-we.jpg">
</div>
<div class="container about-us-container">
	<h1>About Hearing Vietnam</h1>
	<hr/>
	<div class="row featurette">
	<div class="col-md-7">
	  <h2 class="featurette-heading">There are over <span class="text-muted">180,000</span> children in Vietnam with hearing loss today.</h2>
	  <p class="lead">Hearing Vietnam is an organization founded in 2016 that works to help young children with hearing loss in low income families to be able to reach their full potential in our hearing world. 
Children born with normal hearing enter this world listening to the environment around them and are able to develop their listening and speaking skills. However, children born with a hearing disability have trouble with their speaking and receptive skills. We address this issue by providing bone conduction headphones as an educational asset for hearing impaired students. 
</p>
	</div>
	<div class="col-md-5">
	  <img class="featurette-image img-responsive center-block" src="./1.JPG" alt="Generic placeholder image">
	</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
	<div class="col-md-7 col-md-push-5">
	  <h2 class="featurette-heading">"I was born with profound hearing loss. Growing up and going to school, I always fell behind in class. Struggling to cope up with school work, I was diagnosed with hearing aids. <span class="text-muted">I was blessed to have access with technology to help me in my education."</span></h2>
	  <p class="lead">While sitting in a technician’s office to get my hearing aids checked, I envisioned having deaf headphones. I started connecting to people and was introduced to bone conduction technology. Bone conduction bypasses the eardrum and hearing impaired people are able to hear from this technology. I tried out this technology and was fascinated. It occurred to me that this technology can be used as a learning tool for the hearing impaired students. From this idea, I started Hearing Vietnam.  </p>
	  <br/>
	  <p class="lead"><span class="text-muted"> — Nirat Singh Rajpal, Founder of Hearing Vietnam</span></p>
	</div>
	<div class="col-md-5 col-md-pull-7">
	  <img class="featurette-image img-responsive center-block" src="./2.JPG" alt="Generic placeholder image">
	</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
	<div class="col-md-7">
	  <h2 class="featurette-heading">Along with the headphones, we also give the hearing impaired school MP4 players with English audio books that fits with the school’s education program.</h2>
	  <p class="lead">In Hearing Vietnam, we provide the finest quality of bone conduction headphones from our suppliers to maximise the hearing impaired student’s learning. Bone conduction technology decode sound waves and convert them into vibrations that can be received directly by the Cochlea hence, the eardrum is never involved. </p>
	</div>
	<div class="col-md-5">
	  <img class="featurette-image img-responsive center-block" src="3.JPG" alt="Generic placeholder image">
	</div>
	</div>
	<hr class="featurette-divider">
</div>