layout: page
title: Who We Are
-------------
<div class="banner-wrapper">
  <img class="about-us-img-align" src="/assets/img/who-are-we.jpg">
</div>
<div class="container about-us-container">
<h1 class="text-capitalize">About Hearing Vietnam</h1>
<hr>
<div class="row featurette">
  <div class="col-md-7">
    <p class="lead">
      Hearing Vietnam is an organization founded in 2016 that works to help 
      young children with hearing loss in low and middle income families to 
      be able to reach their full potential in our hearing world. Children 
      born with normal hearing enter this world listening to the environment 
      around them and are able to develop their listening and speaking skills. 
      However, children born with a hearing disability have trouble with their 
      receptive skills and speaking skills.
    </p>
  </div>
  <div class="col-md-5">
  <img class="featurette-image img-responsive center-block" src="./who-we-are.jpg" alt="Intro">
  </div>
  <div class="col-md-5">
  <img class="featurette-image img-responsive center-block" src="./who-we-are.jpg" alt="Intro">
  </div>
  <div class="col-md-7">
    <p class="lead">
      "I was born with profound hearing loss. Growing up and going to school, I always fell behind in class. Struggling to cope up with school work, I was diagnosed with hearing aids. I was blessed to have access with technology to help me in my education.
    </p>
    <p class="lead">
      While sitting in a technician’s office to get my hearing aids checked, I envisioned having deaf headphones. I started connecting to people and was introduced to bone conduction technology. Bone conduction bypasses the eardrum and hearing impaired people are able to hear from this technology. I tried out this technology and was fascinated. It occurred to me that this technology can be used as a learning tool for the hearing impaired students. From this idea, I started Hearing Vietnam.  
    </p>
    <p class="lead">
      Along with the headphones, we also give the hearing impaired school mp4 players with English audio books that fits with the school’s education program.
    </p>
    <p class="lead">
      We work to invest in bone conduction headphones and create English audiobooks to make each hearing impaired students achieve their full potential in our hearing world. (Nirat Singh, Founder of Hearing Vietnam)."
    </p>
  </div>
</div>
</div>
