layout: page
-------------
<div class="banner-wrapper">
  <img class="about-us-img-align" src="/assets/img/who-are-we.jpg">
</div>
<div class="container">
<h1 class="text-capitalize">About Hearing Vietnam</h1>
<hr>
<div class="row featurette">
  <div class="col-md-7">
    <p class="lead">
      Hearing Vietnam is an organization founded in 2016 that works to help 
      young children with hearing loss in low and middle income families to 
      be able to reach their full potential in our hearing world. Children 
      born with normal hearing enter this world listening to the environment 
      around them and are able to develop their listening and speaking skills. 
      However, children born with a hearing disability have trouble with their 
      receptive skills and speaking skills. asdasdf
    </p>
  </div>
  <div class="col-md-5">
  <img class="featurette-image img-responsive center-block" src="./who-we-are.jpg" alt="Intro">
  </div>
</div>
</div>